body {
  font-family: helvetica neue;
  background-image:url('/images/creampaper.png');
}

.container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    /*border: 1px dotted black;*/
  }

th {
    text-align: left;
  }

.content {
  
  padding-bottom: 15px;
  padding-top: 15px;
  clear: both;
  display: block;
}

.content ul {
  padding-left: 0;
}

.content li {
  font-size: 26px;
}

.content li a{
  text-decoration: none;
}

.content li a:hover{
  background: #cfcfcf;
}

.content li a:link{
  color: rgb(0, 133, 255)
}

.content li a:visited{
  color: #999;
}



.success {
  vertical-align: middle;
}

form {
  width: 600px;
}

.postlist ul {
  list-style-type: none;
}


/*from pagination challenge*/

.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
  border: 1px solid #ccc;
  float: left;
  font-size: 12px;
  clear: both;
}

.pagination a {
  color: #222;
  text-decoration: underline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}

.pagination a.disabled {
  color: #ccc;
}

.pagination a.active {
  color: #666;
  /*border: 1px solid orange;*/
 /* padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;*/
}

input {
  width: 710px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}

textarea {
  width: 710px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}
/*overrides*/



ol {
  /*list-style:none;*/
  display: inline;
  padding-left: 0;
}

.pagination li {
  display: inline;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #eee;
  float: left;
  margin-left: -1px;

}

.pagination li a.active {
  background: #666;
  color: white;
  text-decoration: none;
}



header {
  border-bottom: 2px solid #efefef;
}

h1 {
  color: #777;
  border-bottom: 12px solid rgb(224, 224, 224);
  padding-bottom: 15px;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px #fff;
}

h2 {
  padding-top: 15px;
  color: #222;
}

h3 {
  font-family: georgia, serif;
  padding-top: 15px;
  color: #222;
}


p {
  color: #888;
  line-height: 26px;
  font-size: 18px;
}

blockquote {
  font-family: georgia, serif;
  font-style: italic;
  color: #888;
  line-height: 26px;
}

.footer {
  color: #999;
  font-size: 12px;
  clear: both;
  padding-top: 12px;
  margin-top: 40px;
  border-top: 12px solid rgb(224, 224, 224);
}


/*button*/

.newpost {
  background-color:#ededed;
  border:6px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:16px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  margin-right: 10px;
  width: auto;
}

.newpost:hover {
  background-color:#828282;
  color: #fff;
}

/*delete button*/


.hide-button {
    float: right;
    margin-top: -13px;
    font-size: 11px;
    font-family: helvetica;
    color: tray;
    /*display: none;*/
    background: url('/images/delete.png') no-repeat;
}

.content li:hover .hide-button {
    display: block;
    background: url('/images/delete.png') no-repeat;
}

/*tags*/

.tag_listing li {
  background: url(../images/tag_icon.png) no-repeat;
  background-position: -10px center;
  padding-left: 39px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #777;
  width: auto;

}

.tag_listing ul {
  list-style-type: none;
  padding-left: 0;
}

/*.tag_listing:hover {
  background-color:#828282;
  color: #fff;
 } */



.tag_listing li a{
  text-decoration: none;
}

.tag_listing li a:hover{
  background: #cfcfcf;
}

.tag_listing li a:link{
  color: rgb(0, 133, 255)
}

.tag_listing li a:visited{
  color: #999;
}