<div class="container">
  <h1>Create a Post</h1>
  

  <form action="/posts" method="post">
    Title: 
    <input type="text" name="post[title]"><br>
    Text: 
    <textarea rows="8" cols="40" name="post[body]"></textarea><br>
    Tags:
    <input type="text" name="tags"><br>
    <input type="submit" class="newpost" value="Create">
    <a href="/" class="newpost">Cancel</a>
  </form>  

