<div class="container">

  <h1>All Posts</h1>
  
  <!-- <form class="newpost" action="/posts/new" method="get" name="logout">
    <input type="submit" value="New Post">
  </form>  -->

  <a href="/posts/new" class="newpost">New Post</a>

  <div class="content">

    <div class="postlist">
      <ul>
       
          <% @posts.each do |post| %>
             <li><a href="posts/<%= post.id %>"><%= post.title %></a></li>
          <% end %>
        
      </ul>   

      
    </div>
  </div>
  
