<div class="container">

  <h1>All Posts</h1>
  
  <!-- <form class="newpost" action="/posts/new" method="get" name="logout">
    <input type="submit" value="New Post">
  </form>  -->

  <a href="/posts/new" class="newpost">New Post</a>

  <div class="content">

    <div class="postlist">
      <ul>
        <li>
          <% @posts.each do |post| %>
            <a href="posts/<%= post.id %>"><%= post.title %></a><br>
          <% end %>
        </li>
      </ul>   

      
    </div>
  </div>
  <div class="footer">
    Copyright &copy; 2013 Bob Loblaw
  </div>


</div>
